.vscode/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
jest.config.js
package-lock.json
commitlint.config.js
contributing.md
lefthook.yml
types/**
src/
node_modules/**
images/**
.github/**
!node_modules/known-css-properties/**
