.vscode/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
jest.config.js
package-lock.json
commitlint.config.js
contributing.md
.releaserc.js
lefthook.yml
scripts/**
types/**
src/
node_modules/**
images/**
.github/**
!node_modules/fuzzy-search/**
